#resume-template{
    display: none;
}
.about{
    display: flex;
    justify-content: space-between;
}
#contactField::-webkit-inner-spin-button,
#contactField::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.myimage{
    float: right;
    border-radius: 50%;
    height: 0px;
    width: 0px;
}
ul{
    margin: 0;
    padding: 0;
}
@media print {
    #printResume {
      display: none;
    }
}
